
/* Red border  */
 /* *{
   outline: 1px solid red !important;
}

 *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} */
/* Media Query */
/* Small devices */
@media print, screen and (max-device-width: 480px) {
body {
  background-color: blue;
}

    }
/* tablets */
@media print, screen and (min-device-width: 481px) and (max-device-width: 980px) {
  body {
    background-color: lightblue;
}
    }
/* laptop */
@media print, screen and (min-device-width: 981px) {
  #main {
    display: flex;
    flex-wrap: wrap;

  }

  h1 {
    margin-top: 1px;
  }

  .heading2 {

  }

  .feat {
      color: grey;
      font-family: "Raleway", sans-serif;
  }

  .img2 {

  }

  body {
    background-color: red;
    font-family: "Raleway", sans-serif;
    max-width: 999px;
    margin-left: auto;
    margin-right: auto;
  }

  .imgs {
      width: calc((100% - 25px)/3);
      min-width: 150px;
      display: inline-block;
  }

  .resume {


  }

  .photoshop {

    }

  .projects {

  }

  .row{
    padding-left: 10px;
  }

  p {
      font-family: sans-serif;
      color: grey;
  }

  a {
      text-decoration: none;
      color: black;
  }

  footer {
    text-align: center;
  }

    }
